// Here you can add other styles

.siteLoader {
	background: #fff;
	padding: 10px;
	width: 140px;
	margin: 0 auto;
	border-radius: 2px;
	margin-top: 20%;

	.loader-wrap {
		display: flex;
		justify-content: 'space-between';
	}

	.loader-wrapper {
		margin-right: 13px;
		transform: translateY(2px);
	}
}

.user-avatar {
	height: 104px;
	width: 130px;

	img {
		height: 100%;
		width: 100%;
		background-size: contain;
	}
}

.main-tables {
	td {
		line-height: 58px;
		padding: 0 0.75rem;
	}
}

.avatar {
	position: relative;
	width: 40px;
	margin: 0;
	height: 40px;

	img {
		width: 100%;
		height: 100%;
		border-radius: 50em;
		background-size: cover;
	}
}

.bus_image--wrapper {
	display: flex;
	overflow: auto;

	.bus_image {
		height: 60px;
		// width: 80px;
		margin-right: 10px;
		img {
			height: 100%;
			width: auto;
			object-fit: cover;
		}
	}
}
.alert-main {
	background: #fff;

	.alert-text {
		color: #ec0202;
	}
}

@media (max-width: 959.95px) {
	.MUIDataTableBodyCell-responsiveStackedSmall-193,
	.MUIDataTableBodyCell-cellStackedSmall-192 {
		height: 60px !important;
	}
}

.newTable-input {
	border: none;

	&:focus {
		border: transparent;
		background-color: transparent;
		outline: transparent;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
